@import '../../../assets/config.scss';

.ch-menu{
    height: 60px;
    border: 1px solid #ddd;
    min-width:$resMin;
    width: 100%;
    padding: 0 32px 0 40px;
    background-color: #002538;
    color: #fff;
    a.ch-logo{
        display: block;
        font-size: 24px;
        font-family: "Roboto",sans-serif;
        float: left;
        line-height: 60px;
    }
    a.ch-collapse{
        cursor: pointer;
        display: block;
        text-decoration: none;
        line-height: 42px;
        padding: 0;
        float: left;
        margin: 11px 0 0 25px;
    }
    .user-profile{
        float: right;
        height: 60px;
        min-width: 230px;
    }
    a{
       color: #fff;   
    }

    
}

@mixin mixMenu() {
    .ch-menu{
        padding: 0 20px 0 10px;
        .user-profile{
            min-width: 130px;
        }
    }
}

@media (max-width: 500px){
     @include mixMenu();
}