<h1>{{content.name}}</h1>
<ch-example-content [component]="content.cmp"></ch-example-content>
<h2>Code</h2>
<hr/>
<ch-tabs>
  <ch-tab id="html">
    <ng-template chTabTitle>
        html
    </ng-template>
    <ng-template chTabContent>
      <div #html>
        <pre>{{content.html}}</pre>
      </div>
    </ng-template>
  </ch-tab>
  <ch-tab id="typescript" title="typescript">
    <ng-template chTabContent>
      <div #typescript>
        <pre><code class="html">{{content.ts}}</code></pre>
      </div>
    </ng-template>
  </ch-tab>
</ch-tabs>

  