@import '../../../assets/config.scss';
.ch-navMenu {
    background: #1c2b36;
    width: auto;
}
:host /deep/{
    li{
        position: relative;
        a.ch-sidebar-list-link{
            display: block;
            height: 42px;
            padding-left: 18px;
            text-shadow: none;
            font-size: 13px;
            text-decoration: none;
            color: $white;
            line-height: 42px;
            white-space: nowrap;
            overflow: hidden;
            cursor: pointer;
            i {
                margin-right: 18px;
                width: 16px;
                display: inline-block;
            }
            b {
                display: block;
                opacity: 1;
                width: 14px;
                height: 14px;
                line-height: 14px;
                text-shadow: none;
                font-size: 18px;
                position: absolute;
                right: 10px;
                top: 12px;
                padding: 0;
                text-align: center;
                transition: transform 0.2s linear;
                
            }
            &:hover {
                color: #00abff;
            }
        }
        .sidebar-childlist{
            background: #131e26;
        }
    }
    .sidebar-childlist{
        display: none;
    }

    .overturnSub{
        > a.ch-sidebar-list-link{
            b {
                transform: rotate(180deg);
            }
        }
        > .sidebar-childlist{
            display: block;
        }
    }

    .menu-collapsed {
        width: 52px;
            li {
            a.ch-sidebar-list-link{
                span,b{
                    display: none;
                }
            }
            ul.sidebar-childlist{
                display: none !important;
            }
        }
    }
}

