@import '../../../assets/config.scss';
.barFixed{
    position: fixed;
}
.ch-leftMenu{
    width: 200px;
    height: 100%;
    z-index: 4;
}
.ch-navMenu {
    background: $Sidbarbackground;
    height: 100%;
    width: 200px;
    transition: width 0.5s ease;
    box-shadow: 6px 0 6px rgba(0,0,0,.1);
}
:host /deep/{
    li{
        position: relative;
        a.ch-sidebar-list-link{
            display: block;
            height: 42px;
            padding-left: 18px;
            text-shadow: none;
            font-size: 13px;
            text-decoration: none;
            color: $Maincolor;
            line-height: 42px;
            white-space: nowrap;
            overflow: hidden;
            cursor: pointer;
            i {
                margin-right: 18px;
                width: 16px;
                display: inline-block;
            }
            b {
                display: block;
                opacity: 1;
                width: 14px;
                height: 14px;
                line-height: 14px;
                text-shadow: none;
                font-size: 18px;
                position: absolute;
                right: 10px;
                top: 12px;
                padding: 0;
                text-align: center;
                transition: transform 0.2s linear;
                
            }
            &:hover {
                color: $sidbarColor;
            }
        }
    }
    .sidebar-childlist{
        display: none;
    }

    .overturnSub{
        > a.ch-sidebar-list-link{
            b {
                transform: rotate(180deg);
            }
        }
        > .sidebar-childlist{
            display: block;
        }
    }

    .menu-collapsed {
        width: 52px;
        li {
            width: 52px;
            transition: width 0.5s ease;
            a.ch-sidebar-list-link{
                span,b{
                    display: none;
                }
            }
            ul.sidebar-childlist{
                display: none !important;
            }
        }
    }
}


