<div class="header">
    <ch-navMenu [menubarList]="menuList" title='Chrysalis-Ng'></ch-navMenu>
</div>

    <ng-template #msgView>
        <div class="ch-badge" style="top:-17px;right:-5px;">
            <ch-badge [text]="num" cssClass='red'></ch-badge>
        </div>
    </ng-template>


<div class="content-body" [ngClass]="{'body-collapsed': !(isCollapse | async)}">
    <ch-sidebar [menuList]="sidebarList"  class="leftSidebar"></ch-sidebar>
    <div class="content">
        <div class="body-content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
