.content-body{
    padding-top: 60px;
    .content{
        margin-left:200px; 
        padding: 20px 40px;
        display: flex;
        transition: left 0.5s ease;
        .body-content{
            width: 100%;
            height: 100%;
            float: left;
        }
    }
}
.header{
    width: 100%;
    position: fixed;
    z-index: 5;
}
@mixin body-collapsed() {
    .content{
        margin-left: 50px !important;
    }
}

@media (max-width: 750px){
     @include body-collapsed();
}




.body-collapsed{
    @include body-collapsed();
}