.content{
    margin-left:200px; 
    padding: 20px 40px;
    // flex: 1 1 auto;
    // display: flex;
    // overflow-y: auto;
}

@media (max-width: 750px){
    .content{
        margin-left: 50px;
    }
}