<li  chSlideToggle>
    <a *ngIf="menuItem.children" class="ch-sidebar-list-link ch-sidebar-parent" (click)="onToggleSub($event)" routerLinkActive="active">
          <i class="{{menuItem.icon}} sid-parent-i"></i>
          <span class="sid-parent-span">{{menuItem.title}}</span>
          <b class="fa fa-angle-down sid-parent-b"></b>
    </a>

    <a *ngIf="!menuItem.children" class="ch-sidebar-list-link" [routerLink]="menuItem.route"  routerLinkActive="active">
          <i class="{{menuItem.icon}}"></i>
          <span>{{menuItem.title}}</span>
    </a>

    <ul *ngIf="menuItem.children" class="sidebar-childlist">
        <sidebarItem [menuItem]="subItem" *ngFor="let subItem of menuItem.children"></sidebarItem>
    </ul>
</li>
