<div class="pagination-content">
    <ch-pagination
        size='sm'
        [total]="total"
        preLink='上一页'
        nextLink='下一页'
        [pageSize]='pageSize'
        (changePageIndex)="onChangePageIndex($event)"
    ></ch-pagination>    
    <br/>
    <ch-pagination
        total="500"
        pageIndex = '1'
        pageSize='10'
        (changePageIndex)="onChangePageIndex($event)"
    ></ch-pagination> 
    <br/>
    <ch-pagination
        size='lg'
        total="101"
        pageIndex = '5'
        pageSize='15'
        (changePageIndex)="onChangePageIndex($event)"
    ></ch-pagination>    
</div>