ul.ch-bar {
    float: left;
    li{
        float: left;
        position: relative;
        &:hover{
            background: #264556
        }
        a.ch-menu-titel{
            float: left;
            padding: 20px;
            cursor: pointer;
        }
    }
    a{
       color: #fff;   
    }
}

.ch-dropdown-toggle {
    position: absolute;
    top:58px;
    right: 0px;
    ul{
        float: left;
        width: 100%;
        min-width: 150px;
        border:1px solid rgba(0,0,0,.15);
        background: #fff;
        border-radius: 4px;
        li{
            margin: 0px;
            width: 100%;
            padding: {
                left:30px;
                top:13px;
                bottom: 13px;
            };
            text-align: left;
            border-bottom: 1px solid #f4f4f4;
            a{
                color:#444;
            }
            &:hover {
                background: #f4f4f4;
            }
        }
    }
}