@import '../../../../../assets/config.scss';
.open{
    // background: #212121;
    .ch-dropdown-toggle{
        display: block !important;
    }
}
ul.ch-bar {
    float: left;
    li{
        float: left;
        position: relative;
        &:hover{
            background: #eeeeee;
            color:#212121;
        }
        a.ch-menu-titel{
            float: left;
            padding: 20px;
            cursor: pointer;
        }
        .ch-dropdown-toggle{
            display: none;
        }
    }
    a{
       color: $Maincolor;   
    }
}
.showMenu{
    .ch-dropdown-toggle{
        display: block !important;
    }
}
.ch-dropdown-toggle {
    position: absolute;
    top:60px;
    right: 0px;
    ul{
        float: left;
        width: 100%;
        min-width: 150px;
        border:1px solid rgba(0,0,0,.15);
        background: $Menubackground;
        border-radius: 4px;
        li{
            margin: 0px;
            width: 100%;
            padding: {
                left:30px;
                top:13px;
                bottom: 13px;
            };
            text-align: left;
            border-bottom: 1px solid #f4f4f4;
            a{
                color:#444;
            }
            &:hover {
                background: #f4f4f4;
            }
        }
    }
}

@mixin minBarTitel() {
    .ch-menu-titel{
        padding: 20px 10px !important;
    }
}

@media (max-width: 500px){
    @include minBarTitel();
}