@import '../../../assets/config.scss';
.ch-navMenu {
    background: #000;
    width: auto;
}
:host /deep/{
    li{
        position: relative;
        a.ch-sidebar-list-link{
            display: block;
            height: 42px;
            padding-left: 18px;
            text-shadow: none;
            font-size: 13px;
            text-decoration: none;
            color: $white;
            line-height: 42px;
            white-space: nowrap;
            overflow: hidden;
            cursor: pointer;
            i {
                margin-right: 18px;
                width: 16px;
                display: inline-block;
            }
            b {
                display: block;
                opacity: 1;
                width: 14px;
                height: 14px;
                line-height: 14px;
                text-shadow: none;
                font-size: 18px;
                position: absolute;
                right: 10px;
                top: 12px;
                padding: 0;
                text-align: center;
                transition: transform 0.2s linear;
            }
            &:hover {
                color: #00abff;
            }
        }
    }
}