<section class="header">
  <h1>Chrysalis-ng
    <iframe class="github" src="//ghbtns.com/github-btn.html?user=zChanges&amp;repo=chrysalis-ng&amp;type=watch&amp;count=false" allowtransparency="true" frameborder="0" scrolling="0" width="100" height="20" float:right></iframe>
  </h1>
  <div class="subHead">
    <span class="col-lg-10">
       Chrysalis-ng是angular4的UI框架，用来学习angular4，仅供学习参考。
    </span>
  </div><br/>
  
  <div class="col-lg-10 list">
    <ul>
      <li>Angular 4 <a href="https://angular.io/"> angular.io</a></li>
      <li>Bootstrap<a href="http://getbootstrap.com/"> bootstrap</a></li>
      <li>
        GitHub repository 
        <a href="https://github.com/zChanges/chrysalis-ng"> https://github.com/zChanges/chrysalis-ng</a>
         ( If it helps you, give it a star <i class="fa fa-star"></i>)
      </li>
    </ul>
  </div>
</section>
<br/>
<hr>

<section class="install">
  <h1>Installation</h1>
  <pre #install>
In terminal:

  npm install chrysalis-ng --save
</pre>

  <h1>Use</h1>
  <pre #Use>{{content[0].html}}</pre>
</section>