.ch-ui-loading{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background:rgba(0, 0, 0, 0.70);
  z-index: 999;
  cursor: wait;
  .ch-ui-rotate{
      position: absolute;
      top: 40%;
      left: 0px;
      right: 0px;
   .loader{
        margin: 0px auto;
        border-radius: 50%;
        width: 10em;
        height: 10em;
        border: 1em solid #ffffff;
        position: relative;
    }
    .spinner{
        position: absolute;
        top: -14px;
        left: -14px;
        transition: margin .2s ease-in,opacity .4s ease-in;
        font-family: sans-serif;
        font-weight: 100;
        -webkit-animation: three-quarters 1.25s infinite linear;
        animation: three-quarters 1.25s infinite linear;
        border: 1em solid #00abff;
        border-right-color: transparent;
        border-radius: 100%;
        box-sizing: border-box;
        display: block;
        vertical-align: middle;
        overflow: hidden;
        text-indent: -9999px;
        width: 10em;
        height: 10em;
        :not{
            margin-left: -22px;
            opacity: 0;
            transition: margin .4s ease-out,opacity .2s ease-out
        }
    }
    .load-message{
        font-size: 1.3em;
        text-align: center;
        color: #fff;
    }
  }

}

@-webkit-keyframes three-quarters {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes three-quarters {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}