/* You can add global styles to this file, and also import other style files */
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap';
@import '~font-awesome/css/font-awesome.css';
@import './assets/config.scss';
@import '~highlight.js/styles/github';
html, body {
  min-height: 100%;
  min-width: $resMin;
  margin: 0px;
  background: #fafafa;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}
ul{
  padding: 0px;
  margin: 0px;
}
li{
  list-style: none;
}
a{
  text-decoration: none !important;
  cursor: pointer;
}

.ch-badge{
  position: relative;
  display: inline-block;
}
.badgePosition { 
  position: absolute; 
  top:-7px;; 
  right:-2px; 
} 
.badge{
  padding: 3px 6px;
}
.red{
  background-color: red;
}
